<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>E-Commerce Site</title>
        <link rel="stylesheet" href="/css/index.css" /> <!-- Enlace al CSS -->
    </head>
    <body>
        <header>
            <h1>E-Commerce Site</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/views/products/view">Paginated Products</a></li>
                    <li>
                        <a href="/views/cart/{{cartId}}" class="cart-link">
                            <i class="fas fa-shopping-cart"></i> Cart
                        </a>
                    </li>                    
                </ul>
            </nav>
        </header>
    </body>
</html>